#RewriteEngine on
#RewriteCond %{HTTP_HOST} ^painel.cobrasil.net$
#RewriteCond %{REQUEST_URI} !^/painel/
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ /painel/$1

#RewriteCond %{HTTP_HOST} ^painel.cobrasil.net$
#RewriteRule ^(/)?$ painel/index.php [L]